<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Angular directives for Bootstrap</title>
    <meta name="description" content="AngularJS (Angular) native directives for Bootstrap. Small footprint (5kB gzipped!), no 3rd party JS dependencies (jQuery, bootstrap JS) required! Widgets: Accordion, Alert, Buttons, Carousel, Collapse, Datepicker, Dropdown, Modal, Pagination, Popover, Progressbar, Rating, Tabs, Timepicker, Tooltip, Typeahead, ">

    <script src="../bower_components/fastclick/lib/fastclick.js"></script>
    <script src="../bower_components/FileSaver/FileSaver.js"></script>
    <script src="../bower_components/jszip/jszip.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="ui-bootstrap-tpls-0.13.0-SNAPSHOT.min.js"></script>
    <script src="assets/plunker.js"></script>
    <script src="assets/app.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>

</head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">UI Bootstrap</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        UI Bootstrap
                    </a>
                    <li class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle>
                            Directives <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#accordion">Accordion</a></li><li><a href="#alert">Alert</a></li><li><a href="#buttons">Buttons</a></li><li><a href="#carousel">Carousel</a></li><li><a href="#collapse">Collapse</a></li><li><a href="#datepicker">Datepicker</a></li><li><a href="#dropdown">Dropdown</a></li><li><a href="#modal">Modal</a></li><li><a href="#pagination">Pagination</a></li><li><a href="#popover">Popover</a></li><li><a href="#progressbar">Progressbar</a></li><li><a href="#rating">Rating</a></li><li><a href="#tabs">Tabs</a></li><li><a href="#timepicker">Timepicker</a></li><li><a href="#tooltip">Tooltip</a></li><li><a href="#typeahead">Typeahead</a></li>
                        </ul>
                    </li>
                    <li><a href="#getting_started">Getting started</a></li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h6>UI Kit</h6>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">


            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main -->
<footer class="footer">
    <div class="container">
        <p>Designed and built by <a href="https://github.com/angular-ui?tab=members" target="_blank">Angular-UI team</a> and <a href="https://github.com/angular-ui/bootstrap/graphs/contributors" target="_blank">contributors</a>.</p>
        <p>Code licensed under <a href="https://github.com/angular-ui/bootstrap/blob/master/LICENSE">MIT License</a>.</p>
        <p><a href="https://github.com/angular-ui/bootstrap/issues?state=open">Issues</a></p>
    </div>
</footer>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
<script type="text/ng-template" id="downloadModal.html">
    <div class="modal-header"><h4 class="modal-title">Download Angular UI Bootstrap</h4></div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label"><strong>Build</strong></label>
                <div class="col-sm-9">
              <span class="btn-group">
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="true">Minified</button>
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="false">Uncompressed</button>
              </span>
                    <small class="help-block">Use <b>Minified</b> version in your deployed application. <b>Uncompressed</b> source code is useful only for debugging and development purpose.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><strong>Include Templates</strong></label>
                <div class="col-sm-9">
              <span class="btn-group">
                <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="false">No</button>
              </span>
                    <small class="help-block">Whether you want to include the <i>default templates</i>, bundled with most of the directives. These templates are based on Bootstrap's markup and CSS.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><strong>Bower</strong></label>
                <div class="col-sm-9">
                    <small>If you are using Bower just run:</small>
                    <pre style="margin-bottom:0;">bower install angular-bootstrap</pre>
                    <small class="help-block"><a href="http://bower.io/" target="_blank">Bower</a> is a package manager for the web.</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">Close</a>
        <a class="btn btn-primary" ng-href="{{download('0.13.0-SNAPSHOT')}}" download><i class="glyphicon glyphicon-download-alt"></i> Download 0.13.0-SNAPSHOT</a>
    </div>
</script>
<script type="text/ng-template" id="buildModal.html">
    <div class="modal-header">
        <h4>
            Create a Custom Build
            <br>
            <small>Select the modules you wish to download</small>
        </h4>
    </div>
    <div class="modal-body">
        <div ng-show="isOldBrowser()">
            Your current browser doesn't support creating custom builds.
            Please take a second to <a href="http://browsehappy.com/">upgrade to a
            more modern browser</a> (other than Safari).
        </div>
        <div ng-show="buildErrorText">
            <h4 style="text-align: center;">{{buildErrorText}}</h4>
        </div>
        <div ng-hide="buildErrorText || isOldBrowser()">


            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.transition}"
                        ng-model="module.transition"
                        btn-checkbox
                        ng-change="selectedChanged('transition', module.transition)">
                    Transition
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.collapse}"
                        ng-model="module.collapse"
                        btn-checkbox
                        ng-change="selectedChanged('collapse', module.collapse)">
                    Collapse
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.accordion}"
                        ng-model="module.accordion"
                        btn-checkbox
                        ng-change="selectedChanged('accordion', module.accordion)">
                    Accordion
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.alert}"
                        ng-model="module.alert"
                        btn-checkbox
                        ng-change="selectedChanged('alert', module.alert)">
                    Alert
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.bindHtml}"
                        ng-model="module.bindHtml"
                        btn-checkbox
                        ng-change="selectedChanged('bindHtml', module.bindHtml)">
                    Bind Html
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.buttons}"
                        ng-model="module.buttons"
                        btn-checkbox
                        ng-change="selectedChanged('buttons', module.buttons)">
                    Buttons
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.carousel}"
                        ng-model="module.carousel"
                        btn-checkbox
                        ng-change="selectedChanged('carousel', module.carousel)">
                    Carousel
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.dateparser}"
                        ng-model="module.dateparser"
                        btn-checkbox
                        ng-change="selectedChanged('dateparser', module.dateparser)">
                    Dateparser
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.position}"
                        ng-model="module.position"
                        btn-checkbox
                        ng-change="selectedChanged('position', module.position)">
                    Position
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.datepicker}"
                        ng-model="module.datepicker"
                        btn-checkbox
                        ng-change="selectedChanged('datepicker', module.datepicker)">
                    Datepicker
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.dropdown}"
                        ng-model="module.dropdown"
                        btn-checkbox
                        ng-change="selectedChanged('dropdown', module.dropdown)">
                    Dropdown
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.modal}"
                        ng-model="module.modal"
                        btn-checkbox
                        ng-change="selectedChanged('modal', module.modal)">
                    Modal
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.pagination}"
                        ng-model="module.pagination"
                        btn-checkbox
                        ng-change="selectedChanged('pagination', module.pagination)">
                    Pagination
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.tooltip}"
                        ng-model="module.tooltip"
                        btn-checkbox
                        ng-change="selectedChanged('tooltip', module.tooltip)">
                    Tooltip
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.popover}"
                        ng-model="module.popover"
                        btn-checkbox
                        ng-change="selectedChanged('popover', module.popover)">
                    Popover
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.progressbar}"
                        ng-model="module.progressbar"
                        btn-checkbox
                        ng-change="selectedChanged('progressbar', module.progressbar)">
                    Progressbar
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.rating}"
                        ng-model="module.rating"
                        btn-checkbox
                        ng-change="selectedChanged('rating', module.rating)">
                    Rating
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.tabs}"
                        ng-model="module.tabs"
                        btn-checkbox
                        ng-change="selectedChanged('tabs', module.tabs)">
                    Tabs
                </button>

            </div>



            <div class="btn-group" style="width: 100%;">

                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.timepicker}"
                        ng-model="module.timepicker"
                        btn-checkbox
                        ng-change="selectedChanged('timepicker', module.timepicker)">
                    Timepicker
                </button>



                <button type="button" class="btn btn-default"
                        style="width: 33%; border-radius: 0;"
                        ng-class="{'btn-primary': module.typeahead}"
                        ng-model="module.typeahead"
                        btn-checkbox
                        ng-change="selectedChanged('typeahead', module.typeahead)">
                    Typeahead
                </button>


            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" ng-click="cancel()">Close</a>
            <a class="btn btn-primary" ng-hide="isOldBrowser()"
               ng-disabled="isOldBrowser() !== false && !selectedModules.length"
               ng-click="selectedModules.length && build(selectedModules, '0.13.0-SNAPSHOT')">
                <i class="glyphicon glyphicon-download-alt"></i> Download {{selectedModules.length}} Modules
            </a>
        </div>
</script>

<script type="text/javascript">


</script>
<script src="assets/smoothscroll-angular-custom.js"></script>
<script src="assets/uglifyjs.js"></script>
</body>
</html>
